/*==========================================================================
  Variables
  ==========================================================================*/

// Colors
// -------------------------
$white: #ffffff
$grey: #333333
$black: #000000

// Mq
// -------------------------
$tablet: 650px
$desktop: 1024px

// Fonts
// -------------------------
$font-main: 'Roboto Slab'

// Body
// -------------------------
$body-text: $grey
