# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
charset = utf-8

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,php,pug,sass,scss,css,html,twig}]
indent_size = 4

# Matches the exact files either package.json or *.yml
[*.json]
indent_size = 2
