/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$icon-facebook-big-name: 'icon-facebook-big'
$icon-facebook-big-x: 64px
$icon-facebook-big-y: 0px
$icon-facebook-big-offset-x: -64px
$icon-facebook-big-offset-y: 0px
$icon-facebook-big-width: 36px
$icon-facebook-big-height: 36px
$icon-facebook-big-total-width: 100px
$icon-facebook-big-total-height: 100px
$icon-facebook-big-image: '../img/sprite.png?v=1452855068917'
$icon-facebook-big: (64px, 0px, -64px, 0px, 36px, 36px, 100px, 100px, '../img/sprite.png?v=1452855068917', 'icon-facebook-big', )
$icon-symbio-name: 'icon-symbio'
$icon-symbio-x: 0px
$icon-symbio-y: 0px
$icon-symbio-offset-x: 0px
$icon-symbio-offset-y: 0px
$icon-symbio-width: 54px
$icon-symbio-height: 54px
$icon-symbio-total-width: 100px
$icon-symbio-total-height: 100px
$icon-symbio-image: '../img/sprite.png?v=1452855068917'
$icon-symbio: (0px, 0px, 0px, 0px, 54px, 54px, 100px, 100px, '../img/sprite.png?v=1452855068917', 'icon-symbio', )
$icon-twitter-big-name: 'icon-twitter-big'
$icon-twitter-big-x: 0px
$icon-twitter-big-y: 64px
$icon-twitter-big-offset-x: 0px
$icon-twitter-big-offset-y: -64px
$icon-twitter-big-width: 36px
$icon-twitter-big-height: 36px
$icon-twitter-big-total-width: 100px
$icon-twitter-big-total-height: 100px
$icon-twitter-big-image: '../img/sprite.png?v=1452855068917'
$icon-twitter-big: (0px, 64px, 0px, -64px, 36px, 36px, 100px, 100px, '../img/sprite.png?v=1452855068917', 'icon-twitter-big', )
$icon-youtube-big-name: 'icon-youtube-big'
$icon-youtube-big-x: 46px
$icon-youtube-big-y: 64px
$icon-youtube-big-offset-x: -46px
$icon-youtube-big-offset-y: -64px
$icon-youtube-big-width: 36px
$icon-youtube-big-height: 36px
$icon-youtube-big-total-width: 100px
$icon-youtube-big-total-height: 100px
$icon-youtube-big-image: '../img/sprite.png?v=1452855068917'
$icon-youtube-big: (46px, 64px, -46px, -64px, 36px, 36px, 100px, 100px, '../img/sprite.png?v=1452855068917', 'icon-youtube-big', )
$icon-facebook-big-2x-name: 'icon-facebook-big_2x'
$icon-facebook-big-2x-x: 128px
$icon-facebook-big-2x-y: 0px
$icon-facebook-big-2x-offset-x: -128px
$icon-facebook-big-2x-offset-y: 0px
$icon-facebook-big-2x-width: 72px
$icon-facebook-big-2x-height: 72px
$icon-facebook-big-2x-total-width: 200px
$icon-facebook-big-2x-total-height: 200px
$icon-facebook-big-2x-image: '../img/sprite_2x.png?v=1452855068917'
$icon-facebook-big-2x: (128px, 0px, -128px, 0px, 72px, 72px, 200px, 200px, '../img/sprite_2x.png?v=1452855068917', 'icon-facebook-big_2x', )
$icon-symbio-2x-name: 'icon-symbio_2x'
$icon-symbio-2x-x: 0px
$icon-symbio-2x-y: 0px
$icon-symbio-2x-offset-x: 0px
$icon-symbio-2x-offset-y: 0px
$icon-symbio-2x-width: 108px
$icon-symbio-2x-height: 108px
$icon-symbio-2x-total-width: 200px
$icon-symbio-2x-total-height: 200px
$icon-symbio-2x-image: '../img/sprite_2x.png?v=1452855068917'
$icon-symbio-2x: (0px, 0px, 0px, 0px, 108px, 108px, 200px, 200px, '../img/sprite_2x.png?v=1452855068917', 'icon-symbio_2x', )
$icon-twitter-big-2x-name: 'icon-twitter-big_2x'
$icon-twitter-big-2x-x: 0px
$icon-twitter-big-2x-y: 128px
$icon-twitter-big-2x-offset-x: 0px
$icon-twitter-big-2x-offset-y: -128px
$icon-twitter-big-2x-width: 72px
$icon-twitter-big-2x-height: 72px
$icon-twitter-big-2x-total-width: 200px
$icon-twitter-big-2x-total-height: 200px
$icon-twitter-big-2x-image: '../img/sprite_2x.png?v=1452855068917'
$icon-twitter-big-2x: (0px, 128px, 0px, -128px, 72px, 72px, 200px, 200px, '../img/sprite_2x.png?v=1452855068917', 'icon-twitter-big_2x', )
$icon-youtube-big-2x-name: 'icon-youtube-big_2x'
$icon-youtube-big-2x-x: 92px
$icon-youtube-big-2x-y: 128px
$icon-youtube-big-2x-offset-x: -92px
$icon-youtube-big-2x-offset-y: -128px
$icon-youtube-big-2x-width: 72px
$icon-youtube-big-2x-height: 72px
$icon-youtube-big-2x-total-width: 200px
$icon-youtube-big-2x-total-height: 200px
$icon-youtube-big-2x-image: '../img/sprite_2x.png?v=1452855068917'
$icon-youtube-big-2x: (92px, 128px, -92px, -128px, 72px, 72px, 200px, 200px, '../img/sprite_2x.png?v=1452855068917', 'icon-youtube-big_2x', )
$spritesheet-width: 100px
$spritesheet-height: 100px
$spritesheet-image: '../img/sprite.png?v=1452855068917'
$spritesheet-sprites: ($icon-facebook-big, $icon-symbio, $icon-twitter-big, $icon-youtube-big, )
$spritesheet: (100px, 100px, '../img/sprite.png?v=1452855068917', $spritesheet-sprites, )
$retina-spritesheet-width: 200px
$retina-spritesheet-height: 200px
$retina-spritesheet-image: '../img/sprite_2x.png?v=1452855068917'
$retina-spritesheet-sprites: ($icon-facebook-big-2x, $icon-symbio-2x, $icon-twitter-big-2x, $icon-youtube-big-2x, )
$retina-spritesheet: (200px, 200px, '../img/sprite_2x.png?v=1452855068917', $retina-spritesheet-sprites, )

/*
  These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

  The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
  */
$icon-facebook-big-group-name: 'icon-facebook-big'
$icon-facebook-big-group: ('icon-facebook-big', $icon-facebook-big, $icon-facebook-big-2x, )
$icon-symbio-group-name: 'icon-symbio'
$icon-symbio-group: ('icon-symbio', $icon-symbio, $icon-symbio-2x, )
$icon-twitter-big-group-name: 'icon-twitter-big'
$icon-twitter-big-group: ('icon-twitter-big', $icon-twitter-big, $icon-twitter-big-2x, )
$icon-youtube-big-group-name: 'icon-youtube-big'
$icon-youtube-big-group: ('icon-youtube-big', $icon-youtube-big, $icon-youtube-big-2x, )
$retina-groups: ($icon-facebook-big-group, $icon-symbio-group, $icon-twitter-big-group, $icon-youtube-big-group, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
    It should be used with a "retina group" variable.

  The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

  $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, )

  .icon-home
    @include retina-sprite($icon-home-group)
  */
@mixin sprite-background-size($sprite)
  $sprite-total-width: nth($sprite, 7)
  $sprite-total-height: nth($sprite, 8)
  background-size: $sprite-total-width $sprite-total-height

@mixin retina-sprite($retina-group)
  $normal-sprite: nth($retina-group, 2)
  $retina-sprite: nth($retina-group, 3)
  @include sprite($normal-sprite)

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @include sprite-image($retina-sprite)
    @include sprite-background-size($normal-sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

/*
  The `retina-sprites` mixin generates a CSS rule and media query for retina groups
    This yields the same output as CSS retina template but can be overridden in SASS

  @include retina-sprites($retina-groups)
  */
@mixin retina-sprites($retina-groups)
  @each $retina-group in $retina-groups
    $sprite-name: nth($retina-group, 1)
    .#{$sprite-name}
      @include retina-sprite($retina-group)
