doctype html
html(lang="cs")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Test index

    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="author" content="SYMBIO Digital")
    meta(name="robots" content="index, follow")
    meta(name="title" content="")

    meta(property="og:title" content="")
    meta(property="og:type" content="website")
    meta(property="og:url" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")

    link(rel="stylesheet" href="/css/main.css")
  body
    svg.icon.icon--logo-white
      use(xlink:href="/img/sprite.svg#logo-white")

    i.icon.icon--youtube

    <!-- build:js -->
    <script src="http://172.17.12.101:8888/js/main.js?v=1449680368804"></script>
    <script src="http://172.17.12.101:8888/js/backend.js?v=1449680368804"></script>
    <!-- endbuild -->
