doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Test index

    link(rel="stylesheet" href="/css/main.css")
  body
    svg.icon.icon--logo-white
      use(xlink:href="/img/sprite.svg#logo-white")

    i.icon.icon--youtube

    <!-- build:js -->
    <script src="http://172.17.12.126:8888/js/main.js?v=1448037722108"></script>
    <script src="http://172.17.12.126:8888/js/backend.js?v=1448037722108"></script>
    <!-- endbuild -->
